.player {
  width: 50%;
  height: 50%;
}
.playercard {
  z-index: 15;
  width: 130%;
  text-align: center;
  cursor: move;

}
.playercard span {
  font-size: 100%;
  display: block;
  margin: auto;
  background-color: #a91a1a00;
  text-overflow: ellipsis;
}

