.player {
  width: 60%;
  height: 60%;
}
.playercard {
  z-index: 5;
  width: 13%;
  position: fixed;
  text-align: center;
}
.playercard span {
  font-size: 100%;
  display: block;
  margin: auto;
  background-color: #a91a1a00;
  text-overflow: ellipsis;
}

