.playground {
  z-index: -1;
  position: static;
  width: 100%;
}
.playgroundContiner {
  z-index: -1;
  width: fit-content;
}
.playgroundBigContiner {
  display: flex;
  justify-content: space-between;
  position: relative;

}

.playerCardPlayGround {
  position: static;
  margin: 3% 1.8%  ;
  z-index: 15;
  width: 15%;

}
.cardHolders {
  width: 65%;
  margin: auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
