.playground {
  z-index: -1;
  position: static;
  width: 100%;
}
.playgroundContiner {
  z-index: -1;
  width: fit-content;
}
.playgroundBigContiner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.playerCardPlayGround {
  display: flex;
  position: static;
  margin: 3% 5%;
  z-index: 15;
  width: 13%;
  height: 15%;
}
.cardHolders {
  width: 95%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  right: 4%;
  height: 100%;
}
